* {
    color: #ffffff;
    font-family: Garamond;
}
html {
    font-size: 16px;
    
}

body {
    background-color: #0e141b;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

header h1 {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    align-items: center;
}

header li {
    display: inline;
    margin: 0px 40px;
    font-size: 1.5rem;

}

header img {
    margin-left: 15px;
    margin-top: 15px;
    width: 100px;
    height: 100px;
    border-radius: 90%;
}

h2 {
    font-size: 2rem;
}

#about h2 {
    text-align: center;
    width: 200px;
    rotate: 270deg;
    border-bottom: 5px solid white;
    margin: 10rem 0 0 3rem;
}

#about p {
    font-size: 1.3rem;
    display: block;
    width: 60%;
    line-height: 2rem;
    margin-left: 30%;
    margin-top: -10%;
}

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#portfolio h2 {
    text-align: center;
    width: 200px;
    rotate: 270deg;
    border-bottom: 5px solid white;
    margin: 20rem 0 0 3rem;
}

#portfolio-content {
    flex: 4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 30%;
    margin-top: -15%;
}

#portfolio-content #main-card img{
    width: 800px;
    height: 400px;  
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 50%;
}

#portfolio-content .card img {
    width: 400px;
    height: 200px;
    opacity: 50%;
}

#portfolio-content .project-text {
    margin-top: -50px;
    margin-left: 5px;
    font-size: 1.5rem;
}

#contact {
    display: flex;
}

#contact h2 {
    text-align: center;
    width: 200px;
    rotate: 270deg;
    border-bottom: 5px solid white;
    margin: 10rem 0 3rem 3rem;
}

#contact-info {
    display: flex;
    margin-top: 13em;
}

#contact-info ul {
    flex-direction: row;
    display: flex;
}

#contact-info li {
    font-size: 1.5rem;
    margin:  0 4rem;
    margin-top: -3rem;
    justify-content: space-evenly;
    align-content: center;
}


#portfolio-content img:hover {
    border: 3px solid white;
    opacity: 100%;
}
#portfolio-content #main-card img:hover {
    opacity: 100%;
}

@media screen and (max-width: 1920px) {
    #portfolio-content #main-card img { 
        width: 1200px;
        height: 600px;
    }
    #portfolio-content .card img {
        width: 600px;
        height: 300px;
    }
}

@media screen and (max-width: 1720px) {
    #portfolio-content #main-card img { 
        width: 1000px;
        height: 500px;
    }
    #portfolio-content .card img {
        width: 500px;
        height: 250px;
    }
}

@media screen and (max-width: 1500px) {
    #portfolio-content #main-card img { 
        width: 900px;
        height: 450px;
    }
    #portfolio-content .card img {
        width: 450px;
        height: 220px;
    }
}

@media screen and (max-width: 1145px) {
    #portfolio-content #main-card img{ 
        width: 700px;
        height: 350px;
    }

    #portfolio-content .card img {
        width: 350px;
        height: 175px;
    }
}
    
@media screen and (max-width: 1075px) {
    header {
        flex-direction: column;
    }

    #portfolio-content {
        width : 90%;
    }
    
    #contact-info ul{
        flex-direction: column;
        margin-bottom: 5rem;
    }

    #contact-info {
        margin-top: 18em;
    }

    #contact h2 {
        padding-top: 7rem;
    }
}

@media screen and (max-width: 950px) {
    #about p {
        font-size: 1rem;

    }

    #portfolio-content {
        width: 500px;
    }

    #portfolio-content .project-text {
        font-size: 1rem;
    }

    #portfolio-content #main-card img {
        width: 500px;
        height: 250px
        }
    
    #portfolio-content .card img {
        width: 250px;
        height: 125px;
    }
    #contact {
        margin-bottom: 4rem;
    }

    #contact-info li {
        font-size: 1rem;
    }
}

@media screen and (max-width: 720px) {
    #portfolio-content #main-card img{ 
        width: 400px;
        height: 200px;
    }

    #portfolio-content .card img {
        width: 200px;
        height: 100px;
    }
}

@media screen and (max-width: 600px) {
    #about h2 {
        margin-left: -2.5rem;
    }

    #portfolio h2 {
        margin-left: -2.5rem;
    }

    #contact h2 {
        margin-left: -5.5rem;
        padding-top: 6rem;
    }

    #contact-info li {
        font-size: 1rem;
    }

    #portfolio-content {
        width: 300px;
    }

    #portfolio-content #main-card img{ 
        width: 300px;
        height: 150px;
    }

    #portfolio-content .card img {
        width: 150px;
        height: 75px;
    }
}

@media screen and (max-width:490px) {
    header h1 {
        font-size: 2rem;
    }
    #portfolio h2 {
        margin-top: 8rem;
    }

    #portfolio-content {
        margin-top: -8rem;
    }

    #contact h2 {
        padding-top: 8rem;
    }
}